body {
  height: 3000px;
}

.video {
  width: 320px;
  height: 180px;
  background-color: gray;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.close-button {
  position: absolute;
  background-color: black;
  color: white;
  font-family: Arial;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 20px;
  top: -15px;
  left: -12px;
}

.timestamp {
  font-family: Arial;
  background-color: black;
  color: white;
  position: absolute;
  font-size: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  bottom: 8px;
  right: 8px;
}